#!/bin/bash

if ! command -v python3 &> /dev/null
then
    echo "Python3 is not installed. Please install Python3 and try again."
    exit
fi

if [ ! -d "mechanoreceptor-model" ]; then
    echo "Setting up Python virtual environment..."

    if ! command -v virtualenv &> /dev/null; then
        echo "Virtualenv is not installed. Installing..."
        python3 -m pip install virtualenv

        if [ $? -ne 0 ]; then
            echo "Failed to install virtualenv. Please install virtualenv manually."
            exit
        fi
    fi

    virtualenv mechanoreceptor-model

    echo "Python virtual environment created."
fi

source mechanoreceptor-model/bin/activate
pip install -r requirements.txt

export PYTHONPATH="$PWD"
